/* место для вашего кода */
* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background-color: #fff;
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
    max-width: 1100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote {
    margin: 0;
    padding: 0;
}

.header {
    padding: 95px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-areas: 
        'header_menu header__logo address';
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.header_menu {
    justify-self: start;
    align-items: center;
    justify-items: center;

}

.header_links-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link{
    color: #000;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
    border-bottom: 1px solid black;
}

.header__link_active {
    border: none;
}

.header__links-list-item_no-bullit .header__link {
    text-decoration: none;
}

.header__logo {
    grid-area: header__logo;
    display: block;
    width: 148px;
    height: 105px;
    align-items: center;
    justify-items: center;
}

.header__logo-image{
    width:100%;
    height: 100%;
}

.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
    align-items: flex-start;
    color: #000;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
}

.address a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid black;
}


.header__links-list-item_no-circle {
    text-decoration: none;
}

/*1 секция*/

.cover {
    min-height: 757px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 165px 50px 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
    background-color: rgb(0 0 0 / .6);
}

.cover_title {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-size: 100px;
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 135px;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.cover__description {
    position: relative ;
    z-index: 2;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 78px;
    color: #fff;
}

.cover__description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    letter-spacing: 0.02em;

}

.bet-button {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
    min-width: 256px;
    height: 51px;
    padding: 12px 32px;
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*2 секция*/

.lots {
    position: relative;
    background-position: center;
    background-size: cover;
    min-height: 723px;
    padding: 180px 24px 120px 24px; /*margin?*/
}

.lots__heading {
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
    color:#000;
    margin: 0 0 27px 64px;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {     /*????????*/
    flex: 1;
    /*min-width: 0;*/
    width: 334px;          
}

.card {
    padding: 48px 40px;
    min-height: 596px;
    min-width: 334px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card__title {
    font-size: 22px;
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    font-style: solid;
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
    position: relative;
    z-index: 2;
}

.card__text {
    font-size: 20px;
    padding: auto 40px;
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
    z-index: 2;
    margin: 0;
}

.card-link {
    text-decoration: none;
    display: block;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    margin-top: 30px;
    display: block;
    font-size: 20px;
    font-family: 'Raleway', 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 192px;
    height: 23px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

/*3 секция*/